<%- include("partials/headblock.ejs") -%>
<%- include("partials/navbar.ejs") -%>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Banner Start ***** -->
                <div class="main-banner">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="header-text">
                                <h6>Welcome To Cyber Social</h6>
                                <h4><em>Browse</em> interesting post about game</h4>
                                <div class="main-button">
                                    <a href="/browse">Browse Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->
            </div>
        </div>
    </div>
</div>
<%- include("partials/script.ejs") -%>

</body>

</html>